HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/
!/AkabootLab.iml
!/mvnw.cmd
!/.mvn/
!/.idea/
!/mvnw
!/HELP.md
!/AkabootLab.iml
!/mvnw.cmd
!/.mvn/
!/.idea/
!/mvnw
!/HELP.md
src/main/resources/static/
src/main/resources/templates/
!/AkabootLab.iml
!/mvnw.cmd
!/.mvn/
!/.idea/
!/mvnw
!/HELP.md
